site_name: Cantonese

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  palette:
    # Light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Swithch to Dark Mode
    # Dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/toggle-switch
        name: Swithch to Dark Mode

nav:
  - Peppa Pig: peppa_pig/home.md

plugins:
  - search

repo_url: https://github.com/nicolasshu/cantonese/
repo_name: nicolasshu/cantonese
